@defer {
  <app-navbar></app-navbar>

  <div class="main-frame">
    <div class="flower">
      <div class="petal"></div>
      <div class="petal"></div>
      <div class="petal"></div>
      <div class="petal"></div>
      <div class="pistil"></div>
    </div>
    <div class="flower-2">
      @for (petal of [].constructor(30); track $index) {
        <div class="petal">
          <div class="petal-1"></div>
          <div class="petal-2"></div>
          <div class="petal-3"></div>
          <div class="petal-4"></div>
        </div>
      }
    </div>
    <h1 #title id="title">Welcome!</h1>
    <h5 #subtitle id="subtitle">plan your trip</h5>
  </div>
} @loading (after 0ms; minimum 1s) {
  <div class="backdrop">
    <div class="spinner"></div>
  </div>
}

<!-- <button (click)="animate()">click me!</button>
<div class="box" id="green"></div>
<div class="box" id="blue"></div>
<div class="box" id="orange"></div> -->